@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,200,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body{
  padding:0px;
  margin:0px;
  background:url(../img/texture.png);
  font-size: 14px;
  line-height:120%;
  color:#59bf73;
  font-family: 'Press Start 2P', cursive;
}
body, *{
  color:#59bf73;
  line-height:30px;
  box-sizing: border-box;
}

form{
  position:relative;
}

input#myMsg{
  border:0px;
  display:block;
  padding-left:15px;
  position:absolute;
  top:0;
  background:none;
  box-sizing: border-box;
  width:100%;
  font-size: 14px;
  color:#59bf73;
  font-family: 'Press Start 2P', cursive;
}

input#myMsg:focus{
  outline:none;
}

h1{
  text-align: center;
}

.myMsg{
  /*text-align: right;*/
  font-weight: bold;
}

.myMsg, .heroMsg{
  display:none;
}

.wrapper{
  position:relative;
  width:100%;
  height:100%;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.gameContent{
  position:absolute;
  bottom:0px;
  width:100%;
  padding:15px;
}

.msgForm{
  border-top:1px solid #59bf73;
}
